[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mysql = "*"
pandas = "*"
requests = "*"
urllib3 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
