[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
adafruit-circuitpython-busdevice = "*"
adafruit-circuitpython-mcp3xxx = "*"
Adafruit-Blinka = "*"
"RPi.GPIO" = "*"
mock = "*"
pytest = "*"
pytest_mock = "*"
board = "*"

[requires]
python_version = "3.7"
