<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <META http-equiv="refresh" content="10; URL=/">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>My First Dashboard</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{ plot | safe }};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>

</body>
</html>